body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Section 1: Menu */
nav {
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: 20px;
  /* padding: 10px 0; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Section 2: Judul dan Gambar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.header-text {
  width: 100%;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Section 3: Biodata Box */
.bio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.bio-box {
  width: 30%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Section 4: Portofolio */
.portfolio {
  padding: 20px;
  background-color: #f4f4f4;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}
